
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
$color-primary: #E68A08;
$color-secondary: #8F5BFE;

main{
    margin-bottom: 100px;
}
.ml-auto{
    margin-left: auto !important;
}
#camera-card{
    margin-bottom: 20px ;
}
.center{
    display: flex;
    justify-content: center;
}
.bg-dark{
    background-color: #000 !important;
}
.white{
    color: white;
    font-size: 20px;
    &:hover{
        background:-webkit-linear-gradient(left,$color-primary 20%, $color-secondary 80%);
        background-clip:text;
        -webkit-background-clip:text;
        color:transparent;
    }
}

.card{
    margin: 30px 5px;
    &-img-top{
        min-height: 158px;
        height: auto;
        object-position: center;
    }
}
.titre{ 
    display: flex;
    align-items: center;
    justify-content: center !important;
    margin: 20px;
    & h1 {
        font-size: 55px;
        align-self: center;
        font-family: 'Finger Paint', cursive;
    } 
}
.gradation{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Finger Paint', cursive;
    background:-webkit-linear-gradient(left,$color-primary 25%, $color-secondary 75%);
        background-clip:text;
        -webkit-background-clip:text;
        color:transparent;
}

.fa-shopping-cart{
    font-size: 45px !important;
    padding: 15px 10px 0 0;
}

.card-cart{
    list-style: none;
    margin: 20px 0px;
    background: #807f7f2d;
    border-radius: 10px;
    padding: 0;
    text-align: center;
}

.libelle{
    font-size: 16px !important;
    font-weight: bold;
}
.icon{
    margin: 0px;
    padding: 0px;
}
.camera-image{
    width: 250px;
    height: 200px;
    border-radius: 10px;
}
.article-title{
    padding: 15px;
    font-size: 20px !important;
    font-weight: bold;
}